<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="RaffleDBase" providerName="System.Data.SqlClient" connectionString="Server=rthowell89.db.13580181.hostedresource.com;User Id=rthowell89;Password=Mag#tar5;"/>
  </connectionStrings>
</configuration>